body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .image-container {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 400px;
    touch-action: none;
  }
  
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image2 {
    z-index: 1;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }
  
  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 7.42px;
    background-color: rgba(131, 131, 131, 0.32);
    border: 0.39053px solid rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(3.12424px);
    box-shadow: 0px 0px 6.24847px #6100FF, inset -0.39053px -0.781059px 1.56212px rgba(0, 0, 0, 0.25), inset 0.39053px 0.781059px 4.68636px rgba(255, 255, 255, 0.64);
    cursor: col-resize;
    z-index: 2;
  }